body {
    font-family: "Poppins", serif;
    width: 100%;
    height: 100%;
    overflow: scroll;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

html {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.container{
    max-width: 1800px;
    height: 800px;

    display: flex;
    margin-inline:auto ;
}
header {
    margin-inline: auto;
    grid-column: span 2;
    width: 95%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 15px;
    padding: 1rem;
    
}

.logo2 {
    display: flex;
    align-items: center;
    font-size: 22px;
    gap: 60px;
    font-weight: bold;
}

.logo2 img {
    height:25px;
    margin-left: 20px;
}

.logo2 input[type="text"] {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23666" d="M10 2a8 8 0 1 1-5.293 14.293l-4.366 4.367a1 1 0 0 1-1.414-1.414l4.367-4.366A8 8 0 0 1 10 2zm0 2a6 6 0 1 0 0 12 6 6 0 0 0 0-12z"/></svg>') no-repeat left 10px center;
    background-size: 16px 16px; 
    width: 200px;
    padding-block:.8rem;
    border-radius: 15px;
    border: none;
    font-size: 10px;
    padding-inline: 2rem;
    color: #333;
    background-color: #f0f0f0;
}

.icons-head {
    display: flex;
    align-items: center; 
    margin-right: 1rem;
}

.icons-head a {
    margin-right: 1rem; 
}

.icons-head a:last-child {
    margin-right: 0; 
}

.icons-head img{
    height: 20px;
}

.dashboard-left{

    width: 60%;
    padding: 1rem;

}
.dashboard-right{
    border-style: solid;
    width: 40%;
    padding: 1rem;

}

.tabs {
    display: flex;
    cursor: pointer;
    gap: 2rem;
}
.tab {
    width: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    border-radius: 20px;
    background: #f1f1f1;
    font-size: 12px;
}
.tab.active {
    background: #3A7D44;
    font-weight: bold;
    color: #f1f1f1;
}
.tab-content {
 
    padding: 15px;
    display: none;
    margin-top: 1rem;
}
.tab-content.active {
    display: block;
}

.banner{
    background-color: #15421C;
    padding: 2rem;
    border-radius: 10px;
}
.banner h2,p{
    color: white;
    font-weight: 500;
}

.banner h1{
    color: #14A72A;
}

.his-head{
    display: flex;
    align-items: center;
    justify-content:space-between !important;
    padding: 10px;
}
.his-head input{
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 12px;
}
/* Table */
table {
    width: 100%;
    border-collapse: collapse; 
    border: none; 
    font-size: 12px;
    position: relative;
    bottom: 20px;
}   

.table th, .table td {
    border: none; 
    padding: 10px;
    text-align: center;
}

.table th {
    background: transparent;
    font-weight: 600; 
}

.table td{
    padding: 1rem;
}

.status {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}

.status.done {
    background-color: #3A7D44;
}